.header {
    margin-top: 15px;
}

.sclass {
    height: 40px;
    background-color: #90a4ae;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
}

.sclass:first-child {
    margin-bottom: 15px;
}

body {
    background-color: #fff8e1;
}

.sclass.selected {
    background-color: #4db6ac;
}

input {
    margin-top: 15px;
    width: 100%;
}

input[type=text]:focus {
    border-color: #4db6ac;
}

.book {
    margin-top: 20px;
    text-align: center;
}

.book img {
    width: 100%;
}

.book.done img {
    filter: grayscale(80%);
}

.check {
    position: absolute;
    z-index: 2;
    height: 80%;
    top: 10%;
    left: 10%;
    width: 80%;
    background-image: url(../imgs/checkmark.png);
    background-position: center center;
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
}
